<!DOCTYPE html>
{% load static %}
{% load i18n %}


<html class="no-js">
<!--<![endif]-->

<head>
    <meta name="author" content="Developer: Ardeshir M. Damavandi, Contact: a.damavandi@hotmail.com" />
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    {% if not DEBUG_VALUE %}
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    {% endif %}

    {% block head_title %}
  		<title>International Trading</title>
  		<meta name="description" content="">
  	{% endblock head_title %}

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "baseApp/BeTheme/watchmaker/images/favicon.ico" %}">

    <!-- FONTS -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400italic,500,600,700,700italic'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cinzel:100,300,400,400italic,500,600,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href="{% static "baseApp/css/global.css" %}">
    <link rel='stylesheet' href="{% static "baseApp/BeTheme/watchmaker/css/structure.css" %}">
    <link rel='stylesheet' href="{% static "baseApp/BeTheme/watchmaker/css/watchmaker.css" %}">
    <link rel='stylesheet' href="{% static "baseApp/BeTheme/watchmaker/css/custom.css" %}">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{% static "baseApp/plugins/rs-plugin/css/settings.css" %}">

   {% block head_extra %}

 	 {% endblock head_extra %}
</head>


<body class="color-custom style-simple button-flat layout-full-width one-page no-content-padding no-shadows header-classic minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders menuo-right logo-no-sticky-padding mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky be-reg-2074">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div class="header_placeholder"></div>
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="#" title="International Trading" data-height="100" data-padding="0">
                                      <img class="logo-main scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker.png" %}" data-retina="{% static "baseApp/BeTheme/watchmaker/images/retina-watchmaker-1.png" %}" data-height="101" alt="watchmaker">
                                      <img class="logo-sticky scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker.png" %}" data-retina="{% static "baseApp/BeTheme/watchmaker/images/retina-watchmaker-1.png" %}" data-height="101" alt="watchmaker">
                                      <img class="logo-mobile scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker.png" %}" data-retina="{% static "baseApp/BeTheme/watchmaker/images/retina-watchmaker-1.png" %}" data-height="101" alt="watchmaker">
                                      <img class="logo-mobile-sticky scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker.png" %}" data-retina="{% static "baseApp/BeTheme/watchmaker/images/retina-watchmaker-1.png" %}" data-height="101" alt="watchmaker"></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-menu" class="menu menu-main">
                                            <li>
                                                <a href="#Header_wrapper"><span>Start</span></a>
                                            </li>
                                            <li>
                                                <a href="#about"><span>About</span></a>
                                            </li>
                                            <li>
                                                <a href="#offer"><span>Offer</span></a>
                                            </li>
                                            <li>
                                                <a href="#pricing"><span>Pricing</span></a>
                                            </li>
                                            <li>
                                                <a href="#clinets"><span>Clients</span></a>
                                            </li>
                                            <li>
                                                <a href="#contact"><span>Contact</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle " href="#"><i class="fas fa-bars"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mfn-main-slider" id="mfn-rev-slider">
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3.1">
                            <ul>
                                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
                                    data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <img src="{% static "baseApp/BeTheme/watchmaker/images/international.png" %}" title="home-slider-poster" width="1920" height="900" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-no-retina>
                                    <div
                                        class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videoogv="{% static "baseApp/BeTheme/watchmaker/images/home_watchmaker_video.ogv" %}" data-videomp4="{% static "baseApp/BeTheme/watchmaker/images/trading.mp4" %}"
                                        data-videopreload="auto" data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false">
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-static-layers">
                                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-6" data-x="382" data-y="107" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-startslide="0"
                                    data-endslide="0" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:0.4;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="{% static "baseApp/BeTheme/watchmaker/images/home-watchamker-slider-circle.png" %}" data-ww="476px" data-hh="476px" width="476" height="476" data-no-retina>
                                </div>
                                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-1" data-x="center" data-hoffset="-261" data-y="241" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="0"
                                    data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['right','right','right','right']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 90px; font-weight: 400; color: #ffd0ae; letter-spacing: 0px;font-family:Cinzel;">
                                    WE ARE
                                    <br> IF IT COMES
                                </div>
                                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-2" data-x="center" data-hoffset="276" data-y="center" data-voffset="-105" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0"
                                    data-endslide="0" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 80px; line-height: 90px; font-weight: 400; color: #ffd0ae; letter-spacing: 0px;font-family:Cinzel;">
                                    EXPERTS
                                    <br> TO WATCHES
                                </div>
                                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-4" data-x="518" data-y="476" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="0" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 26px; line-height: 22px; font-weight: 400; color: #ffd0ae; letter-spacing: 0px;font-family:Cinzel;">
                                    SINCE
                                </div>
                                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-5" data-x="644" data-y="476" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="0" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; font-size: 26px; line-height: 22px; font-weight: 400; color: #ffd0ae; letter-spacing: 0px;font-family:Cinzel;">
                                    1834
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            {% block body_content %}
              <!-- MAIN CONTENT -->
            {% endblock body_content %}
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:20px 0;">
                <div class="container">
                    <div class="column one">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align:center">
                                    <img src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker.png" %}">
                                    <p>
                                        Nullam viverra consectetuer quisque cursuset, porttitor risus.
                                        <br> +61 (0) 3 8376 6284 <a href="#">hello@envato.com</a>
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="fas fa-chevron-up"></i></a>
                        <div class="copyright">
                            <p class="footer__copyright__text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="fas fa-times"></i></a>
        </div>

        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>
    <!-- JS -->
    <script src="{% static "baseApp/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "baseApp/js/mfn.menu.js" %}"></script>
    <script src="{% static "baseApp/js/jquery.plugins.js" %}"></script>
    <script src="{% static "baseApp/js/jquery.jplayer.min.js" %}"></script>
    <script src="{% static "baseApp/js/animations/animations.js" %}"></script>
    <script src="{% static "baseApp/js/translate3d.js" %}"></script>
    <script src="{% static "baseApp/js/scripts.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js" %}"></script>
    <script src="{% static "baseApp/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js" %}"></script>

    {% block body_JS %}

  	{% endblock body_JS %}
</html>
