{% extends "baseApp/LTR/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
	<title>International Trading</title>
	<meta name="description" content="">
{% endblock head_title %}



{% block body_content %}
	<div class="content_wrapper clearfix">
		<div class="sections_group">
				<div class="entry-content">
						<div class="section mcb-section bg-cover" style="padding-top:0px; padding-bottom:100px; background-color:; background-image:url({% static "baseApp/BeTheme/watchmaker/images/watchmaker-background1-.jpg" %}); background-repeat:no-repeat; background-position:center top">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_placeholder">
																<div class="placeholder">
																		&nbsp;
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix" style="margin-top:-100px">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one-sixth column_placeholder">
																<div class="placeholder">
																		&nbsp;
																</div>
														</div>
														<div class="column mcb-column five-sixth column_column">
																<div class="column_attr clearfix animate bg-cover" data-anim-type="fadeInRight" style=" background-image:url({% static "baseApp/BeTheme/watchmaker/images/watchmaker-openinghours-bg2.jpg" %}); background-repeat:no-repeat; background-position:right bottom; padding:60px 40px 0 40px;">
																		<H2 style="color:#ffd0ae;">OPENING HOURS</H2>
																		<P style="color:#cccdd4;">
																				Mauris neque. Pellentesque dolor. Mauris in est. Vivamus lacus sed justo enean
																		</P>
																		<hr class="no_line" style="margin:0 auto 15px">
																		<h6>MONDAY - FRIDAY</h6>
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-top:-15px;margin-bottom:15px;">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/line.png" %}">
																				</div>
																		</div>
																		<h5>8<sup>00</sup> - 20<sup>00</sup></h5>
																		<h6>SATURDAY</h6>
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-top:-15px;margin-bottom:15px;">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/line.png" %}">
																				</div>
																		</div>
																		<h5>8<sup>00</sup> - 16<sup>00</sup></h5>
																		<hr class="no_line" style="margin: 0 auto 180px">
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section full-width equal-height-wrap no-margin-h" id="about" style="padding-top:0px; padding-bottom:0px; background-color:">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-second  valign-middle clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_image ">
																<div class="animate" data-anim-type="fadeIn">
																		<div class="image_frame image_item no_link scale-with-grid alignleft no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/950-800.jpg" %}">
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 6%">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column three-fourth column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeInRight">
																		<h2>WE KNOW WELL THAT TIME IS MONEY</h2>
																		<hr class="no_line" style="margin:0 auto 20px">
																		<p>
																				Praesent nec magna ac pede mauris suscipit mauris. Nam quis erat id tortor. Phasellus at nibh nulla nulla, egestas.
																		</p>
																		<hr class="no_line" style="margin:0 auto 30px">
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignleft no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-list-icon.png" %}">
																						</div>
																				</div>
																				Raesent nec magna ac ped auris suscipit mam quis erat id tortor hasellus
																		</p>
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/line2.png" %}">
																						</div>
																				</div>
																		</p>
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignleft no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-list-icon.png" %}">
																						</div>
																				</div>
																				Raesent nec magna ac ped auris suscipit mam quis erat id tortor hasellus
																		</p>
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/line2.png" %}">
																						</div>
																				</div>
																		</p>
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignleft no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-list-icon.png" %}">
																						</div>
																				</div>
																				Raesent nec magna ac ped auris suscipit mam quis erat id tortor hasellus
																		</p>
																		<p>
																				<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
																						<div class="image_wrapper">
																								<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/line2.png" %}">
																						</div>
																				</div>
																		</p>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section" style="padding-top:100px; padding-bottom:0px; background-image:url({% static "baseApp/BeTheme/watchmaker/images/home-watchmaker-linebg2.png" %}); background-repeat:no-repeat; background-position:center bottom">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 3% 0 0">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix">
																		<hr class="no_line" style="margin: 0 auto 50px">
																		<h2>WE MAKE HISTORY
																				<br> SINCE 1834</h2>
																		<hr class="no_line" style="margin:0 auto 20px">
																</div>
														</div>
														<div class="column mcb-column one-fifth column_column">
																<div class="column_attr clearfix">
																		<b>
									<p style="color:#c07757;">
										1834
									</p></b>
																</div>
														</div>
														<div class="column mcb-column two-third column_column">
																<div class="column_attr clearfix">
																		Praesent nec magna ac pede mauris suscipit mauris. Nam quis erat id tortor. Phasellus at nibh nulla nulla, egestas.
																</div>
														</div>
														<div class="column mcb-column one column_divider">
																<hr class="no_line" />
														</div>
														<div class="column mcb-column one-fifth column_column">
																<div class="column_attr clearfix">
																		<b>
									<p style="color:#c07757;">
										1834
									</p></b>
																</div>
														</div>
														<div class="column mcb-column two-third column_column">
																<div class="column_attr clearfix">
																		Praesent nec magna ac pede mauris suscipit mauris. Nam quis erat id tortor. Phasellus at nibh nulla nulla, egestas.
																</div>
														</div>
														<div class="column mcb-column one column_divider">
																<hr class="no_line">
														</div>
														<div class="column mcb-column one-fifth column_column">
																<div class="column_attr clearfix">
																		<b>
									<p style="color:#c07757;">
										1984
									</p></b>
																</div>
														</div>
														<div class="column mcb-column two-third column_column">
																<div class="column_attr clearfix">
																		Praesent nec magna ac pede mauris suscipit mauris. Nam quis erat id tortor. Phasellus at nibh nulla nulla, egestas.
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-middle clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_image ">
																<div class="image_frame image_item no_link scale-with-grid no_border">
																		<div class="image_wrapper">
																				<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/780-960.jpg" %}">
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_column  column-margin-20px">
																<div class="column_attr clearfix align_center">
																		<hr class="no_line" style="margin: 0 auto 70px">
																		<h2>LORA VIPUM
																				<br> VANITARE QUANTUM</h2>
																		<hr class="no_line" style="margin: 0 auto 50px">
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section" id="offer" style="padding-top:50px; padding-bottom:100px; background-color:#050736; background-image:url({% static "baseApp/BeTheme/watchmaker/images/home-watchmaker-greybg.jpg" %}); background-repeat:no-repeat; background-position:right top">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one  column-margin-50px valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one-third column_flat_box ">
																<div class="flat_box">
																		<div class="animate" data-anim-type="fadeInLeft">
																				<div class="photo_wrapper">
																						<div class="icon themebg">
																								<i class="fad fa-globe-americas"></i>
																						</div>
																						<img class="photo scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/780-400-A.jpg" %}">
																				</div>
																				<div class="desc_wrapper">
																						<h4>BELT EXCHANGE</h4>
																						<div class="desc">
																								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																						</div>
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column one-third column_flat_box">
																<div class="flat_box">
																		<div class="animate" data-anim-type="fadeIn">
																				<div class="photo_wrapper">
																						<div class="icon themebg">
																								<i class="fad fa-bullseye-arrow"></i>
																						</div>
																						<img class="photo scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/780-400-B.jpg" %}">
																				</div>
																				<div class="desc_wrapper">
																						<h4>SCRATCH REMOVAL</h4>
																						<div class="desc">
																								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																						</div>
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column one-third column_flat_box ">
																<div class="flat_box">
																		<div class="animate" data-anim-type="fadeInRight">
																				<div class="photo_wrapper">
																						<div class="icon themebg">
																								<i class="fad fa-search-dollar"></i>
																						</div>
																						<img class="photo scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/780-400-C.jpg" %}">
																				</div>
																				<div class="desc_wrapper">
																						<h4>MECHANIZM REPAIR</h4>
																						<div class="desc">
																								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one-third column_column">
																<div class="column_attr clearfix">
																		<h2>WE CAN DO
																				<br> MORE...
																		</h2>
																</div>
														</div>
														<div class="column mcb-column one-third column_icon_box">
																<div class="icon_box icon_position_left no_border">
																		<div class="image_wrapper">
																				<img src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-iconbox-circle.png" %}" class="scale-with-grid">
																		</div>
																		<div class="desc_wrapper">
																				<h4 class="title">AENEAN FERMEN</h4>
																				<div class="desc">
																						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column one-third column_icon_box ">
																<div class="icon_box icon_position_left no_border">
																		<div class="image_wrapper">
																				<img src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-iconbox-circle.png" %}" class="scale-with-grid" </div>
																				<div class="desc_wrapper">
																						<h4 class="title">AENEAN FERMEN</h4>
																						<div class="desc">
																								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																						</div>
																				</div>
																		</div>
																</div>
														</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section" id="pricing" style="padding-top:0px; padding-bottom:0px; background-color:#0c1e56">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-sixth  valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_placeholder">
																<div class="placeholder">
																		&nbsp;
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap two-third  valign-top bg-cover clearfix" style="padding:0 8%; background-image:url({% static "baseApp/BeTheme/watchmaker/images/home-watchmaker-offer-bg.jpg" %}); background-repeat:no-repeat; background-position:center top">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix align_center" style=" background-image:url({% static "baseApp/BeTheme/watchmaker/images/watchmaker-line.png" %}); background-repeat:no-repeat; background-position:center top;">
																		<hr class="no_line" style="margin: 0 auto 100px">
																		<h2>LORA VIPUM
																				<br> VANITARE QUANTUM</h2>
																		<hr class="no_line" style="margin: 0 auto 10px">
																</div>
														</div>
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix">
																		<table class="table_watchmaker">
																				<tbody>
																						<tr>
																								<td class="m1">Quisque adipiscing gravida turpis</td>
																								<td class="m2">$5</td>
																						</tr>
																						<tr>
																								<td class="m1">Proin sed condimentum nunc</td>
																								<td class="m2">$12</td>
																						</tr>
																						<tr>
																								<td class="m1">Praesent tortor id nonummy porttitor ante</td>
																								<td class="m2">$10</td>
																						</tr>
																						<tr>
																								<td class="m1">Nulla aliquet vulputate</td>
																								<td class="m2">$7</td>
																						</tr>
																						<tr>
																								<td class="m1">Cras tempus rutrum elementum</td>
																								<td class="m2">$19</td>
																						</tr>
																						<tr>
																								<td class="m1">Curabitur ornare lectus vulputate vel</td>
																								<td class="m2">$25</td>
																						</tr>
																						<tr>
																								<td class="m1">Nonummy faucibus venenatis eu</td>
																								<td class="m2">$30</td>
																						</tr>
																						<tr>
																								<td class="m1">Quisque adipiscing gravida turpis</td>
																								<td class="m2">$5</td>
																						</tr>
																				</tbody>
																		</table>
																		<hr class="no_line" style="margin: 0 auto 80px">
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section" id="clinets" style="padding-top:0px; padding-bottom:120px; background-size: cover; background-color:#040a3a; background-image:url({% static "baseApp/BeTheme/watchmaker/images/1080-1080.jpg" %}); background-repeat:no-repeat; background-position:center top; box-shadow:inset 0 0 0 2000px rgba(5, 9, 53, 0.7);">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_image ">
																<div class="animate" data-anim-type="fadeInUpLarge">
																		<div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/watchmaker-verticalline.png" %}">
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix align_center">
																		<h2 style="color:#ffd0ae;">WHAT OUR CLIENTS SAY</h2>
																		<hr class="no_line" style="margin: 0 auto 50px">
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column two-fifth column_image">
																<div class="animate" data-anim-type="zoomIn">
																		<div class="image_frame image_item no_link scale-with-grid no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" style="border-radius: 50%;" src="{% static "baseApp/BeTheme/watchmaker/images/200-200-A.jpg" %}">
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column three-fifth column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeIn" style=" padding:0 30px">
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-bottom:20px">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/quotations.png" %}">
																				</div>
																		</div>
																		<p style="color:white;">
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore
																		</p>
																		<p class="themecolor">
																				- JANE BLACKFIELD
																		</p>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column two-fifth column_image ">
																<div class="animate" data-anim-type="zoomIn">
																		<div class="image_frame image_item no_link scale-with-grid no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" style="border-radius: 50%;" src="{% static "baseApp/BeTheme/watchmaker/images/200-200-B.jpg" %}">
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column three-fifth column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeIn" style=" padding:0 30px;">
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-bottom:20px;">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/quotations.png" %}">
																				</div>
																		</div>
																		<p style="color:white;">
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore
																		</p>
																		<p class="themecolor">
																				- JANE BLACKFIELD
																		</p>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap divider  valign-top clearfix" style="padding:0 5%">
												<div class="mcb-wrap-inner"></div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column two-fifth column_image ">
																<div class="animate" data-anim-type="zoomIn">
																		<div class="image_frame image_item no_link scale-with-grid no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" style="border-radius: 50%;" src="{% static "baseApp/BeTheme/watchmaker/images/200-200-C.jpg" %}">
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column three-fifth column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeIn" style=" padding:0 30px;">
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-bottom:20px;">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/quotations.png" %}">
																				</div>
																		</div>
																		<p style="color:white;">
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore
																		</p>
																		<p class="themecolor">
																				- JANE BLACKFIELD
																		</p>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column two-fifth column_image ">
																<div class="animate" data-anim-type="zoomIn">
																		<div class="image_frame image_item no_link scale-with-grid no_border">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" style="border-radius: 50%;" src="{% static "baseApp/BeTheme/watchmaker/images/200-200-D.jpg" %}">
																				</div>
																		</div>
																</div>
														</div>
														<div class="column mcb-column three-fifth column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeIn" style=" padding:0 30px;">
																		<div class="image_frame image_item no_link scale-with-grid no_border" style="margin-bottom:20px;">
																				<div class="image_wrapper">
																						<img class="scale-with-grid" src="{% static "baseApp/BeTheme/watchmaker/images/quotations.png" %}">
																				</div>
																		</div>
																		<p style="color:white;">
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore
																		</p>
																		<p class="themecolor">
																				- JANE BLACKFIELD
																		</p>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section highlight-right equal-height-wrap " style="padding-top:70px; padding-bottom:50px; background-color:#050935" data-parallax="3d">
								<img class="mfn-parallax" src="{% static "baseApp/BeTheme/watchmaker/images/1920-1200.jpg" %}" style="opacity:0">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-sixth  valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_placeholder">
																<div class="placeholder">
																		&nbsp;
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap two-fifth valign-middle clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column five-sixth column_contact_box ">
																<div class="get_in_touch" style="background-image:url({% static "baseApp/BeTheme/watchmaker/images/home-watchmaker-offer-bg.jpg" %});">
																		<h3>CONTACT US</h3>
																		<div class="get_in_touch_wrapper">
																				<ul>
																						<li class="address">
																								<span class="icon"><i class="fad fa-map-marker-alt"></i></span><span class="address_wrapper">Envato
											<br>
											Level 13, 2 Elizabeth St,
											<br>
											Melbourne, Victoria 3000 Australia</span>
																						</li>
																						<li class="phone phone-1">
																								<span class="icon"><i class="fad fa-phone"></i></span>
																								<p>
																										<a href="#">+90 (555) 532 53 53</a>
																								</p>
																						</li>
																						<li class="mail">
																								<span class="icon"><i class="fad fa-envelope-square"></i></span>
																								<p>
																										<a href="#"><span>hello@envato.com</span></a>
																								</p>
																						</li>
																						<li class="www">
																								<span class="icon"><i class="fal fa-globe"></i></span>
																								<p>
																										<a target="_blank" href="http://www.envato.com/">www.envato.com</a>
																								</p>
																						</li>
																				</ul>
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap two-fifth valign-middle clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix" style=" padding:30px 40px 30px 30px;">
																		<h3 style="color:#ffd0ae;">LORA VIPUM
																				<br> VANITARE QUANTUM</h3>
																		<hr class="no_line" style="margin: 0 auto 10px">
																		<p style="color:#9d9da8;">
																				Praesent nec magna ac pede mauris suscipit mauris. Nam quis erat id tortor. Phasellus at nibh nulla nulla, egestas.
																		</p>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="section mcb-section full-width no-margin-h " id="contact" style="padding-top:0px; padding-bottom:0px; background-color:#050736">
								<div class="section_wrapper mcb-section-inner">
										<div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:60px 5% 30px 5%">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_column">
																<div class="column_attr clearfix animate" data-anim-type="fadeInLeft">
																		<h3 style="color:#ffd0ae;">SEND A MESSAGE</h3>
																		<div id="contactWrapper">
																				{% include "baseApp/LTR/include/ContactForm.html" %}
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="wrap mcb-wrap one-second valign-top clearfix">
												<div class="mcb-wrap-inner">
														<div class="column mcb-column one column_map ">
																<div class="google-map-wrapper no_border">
																		<div class="google-map" id="google-map-area-5a4e7924d3a5e" style="width:100%; height:450px;">
																				&nbsp;
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
	</div>
{% endblock body_content %}


{% block body_JS %}
<script>
		var revapi1, tpj = jQuery;
		tpj(document).ready(function() {
		if (tpj("#rev_slider_1_1").revolution == undefined) {
			revslider_showDoubleJqueryError("#rev_slider_1_1");
		} else {
			revapi1 = tpj("#rev_slider_1_1").show().revolution({
				sliderType : "standard",
				sliderLayout : "fullwidth",
				dottedOverlay : "none",
				delay : 9000,
				navigation : {
					onHoverStop : "off",
				},
				visibilityLevels : [1240, 1024, 778, 480],
				gridwidth : 1240,
				gridheight : 868,
				lazyType : "none",
				shadow : 0,
				spinner : "spinner2",
				stopLoop : "off",
				stopAfterLoops : -1,
				stopAtSlide : -1,
				shuffle : "off",
				autoHeight : "off",
				disableProgressBar : "on",
				hideThumbsOnMobile : "off",
				hideSliderAtLimit : 0,
				hideCaptionAtLimit : 0,
				hideAllCaptionAtLilmit : 0,
				debugMode : false,
				fallbacks : {
					simplifyAll : "off",
					nextSlideOnWindowFocus : "off",
					disableFocusListener : false,
				}
			});
		}
	});
</script>
{% endblock body_JS %}
